.search-form{

   padding: 25px;
}
.search-form h2{

         padding: 8px;
  font-size: 30px;
  margin-bottom: 4%;
  text-align: center;
}
.search-form input[type='text']{


}
.searchresult{

    padding: 0;
    margin: 0;
    background: #ddd;
}
.searchresult li{

        list-style: none;
  padding: 10px 23px;
  font-size: 18px;
  cursor: pointer;
}
.searchresult li:hover{

	    background: red;
	    color: #fff;
}